@{
    ViewData["Title"] = "Cadastro de Equipamentos";
}

<!DOCTYPE html>
<html lang="pt">
<head>
    <title>Lynx Spa Application</title>
    <style>
        form {
            display: flex;
            flex-direction: column;
            width: 300px;
            margin: auto;
            padding: 10px;
            background-color: #f0f8ff;
            border-radius: 5px;
            box-shadow: 2px 2px 10px rgba(0, 0, 0, 0.1);
        }

        label {
            margin-top: 10px;
            font-weight: bold;
        }

        input, select {
            padding: 5px;
            margin-top: 5px;
            border: 1px solid #ccc;
            border-radius: 3px;
        }

        h2 {
            text-align: center;
            padding: 10px;
        }

        .btn-container {
            display: flex;
            flex-direction: column;
            align-items: center;
            margin-top: 10px;
        }

            .btn-container button {
                width: 200px;
                margin-bottom: 5px;
                padding: 8px;
                border: none;
                border-radius: 5px;
                background-color: #4CAF50;
                color: white;
                cursor: pointer;
            }

                .btn-container button:hover {
                    opacity: 0.8;
                }

        .btn-delete {
            background-color: #f44336 !important;
        }

        .btn-upload {
            background-color: #FFD700 !important;
            color: black;
            font-weight: bold;
        }
    </style>
</head>
<body>
    <h2 style="background-color:powderblue;">Cadastro de Equipamentos</h2>
    @if (ViewBag.Mensagem != null)
    {
        <p style="color: green; font-weight: bold;">@ViewBag.Mensagem</p>
    }

    @if (ViewBag.Erro != null)
    {
        <p style="color: red; font-weight: bold;">@ViewBag.Erro</p>
    }
    <form id="equipamentoForm">
        <label for="inst"><b>Instalação</b></label>
        <input type="text" name="Instalacao" id="inst" maxlength="10"><br>

        <label for="fab"><b>Fabricante</b></label>
        <input type="text" name="Fabricante" id="fab" maxlength="15"><br>

        <label for="opr"><b>Operadora</b></label>
        <select name="Operadora" id="opr">
            <option value="">Selecione uma operadora</option>
            <option value="Claro">Claro</option>
            <option value="Tim">Tim</option>
            <option value="Vivo">Vivo</option>
        </select><br>

        <label for="lote"><b>Lote</b></label>
        <input type="number" name="Lote" id="lote" min="1"><br>

        <label for="mod"><b>Modelo</b></label>
        <input type="number" name="Modelo" id="mod" min="1"><br>

        <label for="ver"><b>Versão</b></label>
        <input type="number" name="Versao" id="ver" min="1"><br>

        <div class="btn-container">
            <button type="submit" formaction="@Url.Action("CadastrarEquipamento", "Home")" formmethod="post" onclick="return validarCampos(true)">
                Cadastrar
            </button>

            <button type="submit" formaction="@Url.Action("AlterarEquipamento", "Home")" formmethod="post" onclick="return validarCampos(true)">
                Alterar
            </button>

            <button type="submit" formaction="@Url.Action("GetAll", "Home")">
                Mostrar Todos
            </button>

            <button type="submit" formaction="@Url.Action("GetByInstalacaoELote", "Home")" onclick="return validarCampos(false)">
                Buscar por Instalação e Lote
            </button>

            <button type="submit" class="btn-delete" formaction="@Url.Action("DeletarEquipamento", "Home")" formmethod="post"  onclick="return validarCampos(false)">
                Deletar
            </button>
        </div>
    </form>

    <form asp-action="UploadCSV" method="post" enctype="multipart/form-data" class="btn-container">
        <input type="file" name="arquivoCSV">
        <button type="submit" class="btn-upload">Enviar CSV</button>
    </form>

    <script>
        function validarCampos(todosObrigatorios) {
            var instalacao = document.getElementById("inst").value.trim();
            var lote = document.getElementById("lote").value.trim();
            var fabricante = document.getElementById("fab").value.trim();
            var operadora = document.getElementById("opr").value.trim();
            var modelo = document.getElementById("mod").value.trim();
            var versao = document.getElementById("ver").value.trim();

            if (todosObrigatorios) {
                if (!instalacao || !lote || !fabricante || !operadora || !modelo || !versao) {
                    alert("Todos os campos são obrigatórios!");
                    return false;
                }
            } else {
                if (!instalacao || !lote) {
                    alert("Instalação e Lote são obrigatórios!");
                    return false;
                }
            }

            return true;
        }
    </script>

</body>
</html>
